/* Global */
h4 {
    margin-bottom: 20px;
}
/* IS LOGGED IN */
.admin-page-header{
    padding: 12px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    margin-bottom: 30px;

}
.admin-page-header p {
    margin-bottom: 0;
}
.admin-page-header button{
    padding: 10px;
    width: 150px;
    height: 50px;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
    margin: 0;
}

.admin-table{
    background-color: #aaa;
    width: 100%;
    height: 170px;
    margin-bottom: 18px;
    border-radius: 12px;
    overflow-y: scroll;
    font-weight: bold;
}
.admin-table .orders-body header{
    margin-bottom: 15px;
    margin-top: 10px;
}
.admin-table .orders-body .orders{
    text-align: center;
}


/* ADMIN ERROR */

.admin-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}