.header-btn{
    margin-top: 20px;
    display: flex;
}
.header-btn > button{
    color: #000;
    text-decoration: none;
    background-color: #aaa;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    width: 200px;
    height:60px;
    border: none;
}
