.menu-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-btn , .check-btn{
    display: flex;
    justify-content: center;
}