/* Main Menu */
.menu{
    background-color: #eee;
}

/* Meal Ingredients Popup */
.meal-comps{
    height: 170vh;
    width: 100%;
    position: absolute;
    background-color: #eee;
    top: 0;
}
.meal-comps header{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.meal-comps .meal-ingds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal-ingds .meal-ingds-container{
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}
.meal-ingds .meal-ingds-container svg{
    position: absolute;
    top: 50%;
}

.meal-ingds .meal-ingds-container .ingd {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meal-ingds .meal-ingds-container .ingd .ingd-name {
    margin-top: 10px;
}
.meal-ingds .meal-ingds-container .ingd img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.meal-ingds .orders-counter{
    display: flex;
}
.meal-ingds .orders-counter label{
    font-weight: bold;
}

select{
    width: 100px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
button{
    width: 200px;
    height: 70px;
    border: 1px solid #ccc;
    background-color: #aaa;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.no-ingds{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

/* Counter Menu Popup */

.counter-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 160vh;
    background-color: rgba(225,255,255,0.7);
    position: absolute;
    top: 0;
}
.counter-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-menu .counter-body{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-menu .counter-body h5{
    margin-bottom: 20px;
}

