/* General Settings */
.exit-header .exit-icon{
    font-size: 30px;
}

svg{
    cursor: pointer;
}


/* Add Meal Styling */
.add-meal-overlay , .edit-meal-overlay , .add-user-overlay , .edit-user-overlay , .edit-meal-form , .edit-user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.add-meal-overlay h3{
    margin-bottom: 20px;
    margin-top: 30px;
}
.add-meal-form label , .add-meal-form input , .add-user-form label , .add-user-form input , .edit-meal-form input , .edit-meal-form label , 
.edit-user-form input , .edit-user-form label{
    display: block;
    margin-bottom: 12px;
}
.add-meal-form input , .add-user-form input , .edit-meal-form input , .edit-user-form input{
    width: 300px;
    padding: 5px;
}
.add-meal-form .submit-part , .add-user-form .submit-part , .edit-user-form .submit-part , .edit-meal-overlay .submit-part{
    display: flex;
    justify-content: center;
}
.add-meal-form .submit-part button , .add-user-form .submit-part button ,.edit-meal-form .submit-part button,
.edit-user-form .submit-part button{
    padding: 10px;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
}

/* Edit or remove Meals styling */
.edit-meal-overlay h2 , .edit-user-overlay h2{
    margin-bottom: 20px;
    position: relative;
    margin-top: 20px;
}
.edit-meal-overlay .edit-meals , .edit-user-overlay .edit-users{
    width: 400px;
    height: 500px;
    overflow-y: scroll;
}
.edit-meal-overlay .edit-meal-form , .edit-user-overlay .edit-user-form{
    position: absolute;
    top: 0;
    background-color: #ccc;
    width: 100%;
    height: 100%;
}


