/* Add Meal Styling */
.add-meal-overlay , .edit-meal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.add-meal-overlay h3{
    margin-bottom: 20px;
    margin-top: 30px;
}
.add-meal-form label , .add-meal-form input{
    display: block;
    margin-bottom: 12px;
}
.add-meal-form input{
    width: 300px;
    padding: 5px;
}
.add-meal-form .submit-part{
    display: flex;
    justify-content: center;
}
.add-meal-form .submit-part button{
    padding: 10px;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    background-color: #ccc;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
}

/* Edit or remove styling */
.edit-meal-overlay .menu-meals{
    min-height: 80vh;
    width: 100%;
    overflow-y: scroll;
}
.menu-meals .meal{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.menu-meals .meal > div{
    display: flex;
    justify-content: center;
    width: 25%;
}
.menu-meals .meal svg:last-of-type{
    margin-left: 20px;
    cursor: pointer;
}
.menu-meals .meal svg:last-of-type{
    color: #082;
}
.menu-meals .meal svg:first-of-type{
    color: #d63031
}