.table-page-overlay{
    /* background-color: #12171b; */
    min-height: 100vh;
}

.slider{
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.slider .slider-overlay{
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.slider .slider-overlay p{
    font-size: 40px;
    font-weight: bold;
}

.slider .slider-overlay .arrow{
    border: 1px solid #fff;
    padding: 10px;
}

.side-menu .menu-item{
    width: 100%;
    height: 100px;
}

.order-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Date Container */
.today-date{
    margin-top: 15px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}