a{
    text-decoration: none;
    color: #000;
}
.waiter-page-overlay{
    height: 100vh;
    margin-top: 25px;
}
.waiter-page-overlay h2 {
    margin-bottom: 25px;
}

.table{
   display: flex;
   justify-content: center;
   align-items: center;
}
.table .content{
    width: 400px;
    height: 200px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}
.waiter-page-overlay .row{
    justify-content: center;
}
.table .content .table-name{
    font-weight: bold;
    font-size: 22px;
}

.table-status{
    display: flex;
    justify-content: space-around;
}

.table-status p {
    font-weight: bold;
}

.table-status .ready{
    color: #080;
}
.table-status .not-ready{
    color: rgb(216, 6, 6);
}

/* Singular Table Code */
.table-orders-overlay{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table-orders-overlay .table-orders{
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    padding: 12px;
    border-radius: 12px;
}
.table-orders .order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 60px;
    padding: 6px;
    margin-bottom: 10px;
}
.table-orders .order .order-ops{
    cursor: pointer;
}
.table-orders .order p {
    margin: 0;
}
.table-orders .order:nth-child(even){
    background-color: #eee;
}
.table-orders-overlay .total{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.table-orders-overlay .total > p{
    font-weight: bold;
    font-size: 20px;
}